.choose-game-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-box {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(195, 195, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mode-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 5px;;
    padding: 5px;
    font-size: 40px;
}

.shape-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 5px;;
    padding: 5px;
    background-color: rgb(137, 137, 137);
    font-size: 30px;
    cursor: pointer;
}

.board-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(137, 137, 137);
    font-size: 30px;
    cursor: pointer;

}